body {
    padding-left: 20px;
    padding-right: 20px;
    background-image: #E5E2DD;
}

#photoWrapper {
    width: 50%;
    margin-left: 25%;
    border: 1px solid black; 
}

#thePhoto {
    width: 100%;
}

button {
    background-color: #94B4C4;
    color: #8E001C
}

#forwardButton {
        position: relative; 
        float: right;
}

.centerMe {
    text-align: center;
    color: #8E001C
}

.bigWrapper {
    background-color: #E5E2DD;
    padding-left: 20px
    padding-top: 20px
    padding-right: 20px
    padding-bottom: 20px
}
h1 {
    font-family: 'Tillana', cursive;
}
#piechart {
   margin-left: 25%;
}

#countdown {
    allowTransparency:true;
    frameborder:0;
    width:208;
    height:118;
    margin-left: 41%;
    position: static;
} 
       